
<footer id="footer">

    <div style="margin: 20px auto;text-align: center" class="container" >

        © 2017 <a href="/">{{v('webconfig.webname')}}</a>
<a href="/" target="_blank">{{v('webconfig.icp')}}</a>



        <script>
            var _hmt = _hmt || [];
            (function() {
                var hm = document.createElement("script");
                hm.src = "//hm.baidu.com/hm.js?b9c348017dd5ad76eda56aadfc51ea29";
                var s = document.getElementsByTagName("script")[0];
                s.parentNode.insertBefore(hm, s);
            })();
        </script>



    </div>

</footer>
