
<header id="header" class="clearfix">

    <div class="container">

        <div class="col-group">

            <div class="site-name ">

                <a id="logo" href="//">

                    技术博客
                </a>



            </div>

            <div>

                <nav id="nav-menu" class="clearfix"><ul id="menu-%e6%b5%8b%e8%af%95" class="menu"><li id="menu-item-21" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-21"><a href="/">首页</a></li>
                    <category pid="22">

                        <li id="menu-item-22" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-22"><a href="{{$v['url']}}">{{$v['catname']}}</a></li>
                    </category>
                    <category pid="23">
                        <li id="menu-item-22" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-22"><a href="{{$v['url']}}">{{$v['catname']}}</a></li>
                    </category>
                    <li id="menu-item-21" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-21"><a href="/wechat.html">扫码关注</a></li>
                </ul></nav>
            </div>

        </div>

    </div>

</header>