* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: url(../images/body_bg.jpg);
}
li {
  list-style: none;
}
header {
  width: 100%;
  min-height: 70px;
}
nav .container div .nav li.cate {
  background: #222;
}
nav .container div .nav li.dropdown a {
  color: #9d9d9d;
}
nav .container div .nav li.dropdown ul.dropdown-menu {
  background: #222;
}
nav .container div .nav li.dropdown ul.dropdown-menu li a {
  color: #fff;
}
nav .container div .nav li:hover {
  background: #222;
}
.wb_header {
  background: #333;
}
.w-search,
.w-baidu-search {
  margin-left: -16px;
  margin-right: -16px;
}
.w-search .panel,
.w-baidu-search .panel {
  border-radius: 0;
  margin-bottom: 0px;
}
.wrap {
  color: #666;
  margin: 0 auto;
}
.wrap .footer {
  clear: both;
  text-align: center;
  overflow: hidden;
  padding-top: 10px;
  margin-bottom: 10px;
}
.wrap .row .w-right {
  padding-left: -15px;
  padding-right: -15px;
}
.wrap .row .w-right aside {
  box-shadow: 0 1px 2px 0 #E2E2E2;
  margin-bottom: 15px;
  background: #fff;
  padding-top: 15px;
  overflow: hidden;
  border-radius: 5px;
}
.wrap .row .w-right aside#w-tags .w-tags,
.wrap .row .w-right #w-link .w-tags,
.wrap .row .w-right #w-cates .w-tags {
  padding: 20px 15px;
}
.wrap .row .w-right aside#w-tags .w-tags a,
.wrap .row .w-right #w-link .w-tags a,
.wrap .row .w-right #w-cates .w-tags a {
  color: #959595;
  border: 1px solid #ebebeb;
  margin: 0 5px 5px 0px;
  padding: 2px 7px;
  display: inline-block;
  transition: all 0.2s ease 0s;
}
.wrap .row .w-right aside#w-tags .w-tags a.tag-0,
.wrap .row .w-right #w-link .w-tags a.tag-0,
.wrap .row .w-right #w-cates .w-tags a.tag-0 {
  background-color: #428BCA;
  color: #ffffff;
}
.wrap .row .w-right aside#w-tags .w-tags a.tag-1,
.wrap .row .w-right #w-link .w-tags a.tag-1,
.wrap .row .w-right #w-cates .w-tags a.tag-1 {
  background-color: #5CB85C;
  color: #ffffff;
}
.wrap .row .w-right aside#w-tags .w-tags a.tag-2,
.wrap .row .w-right #w-link .w-tags a.tag-2,
.wrap .row .w-right #w-cates .w-tags a.tag-2 {
  background-color: #D9534F;
  color: #ffffff;
}
.wrap .row .w-right aside#w-tags .w-tags a.tag-3,
.wrap .row .w-right #w-link .w-tags a.tag-3,
.wrap .row .w-right #w-cates .w-tags a.tag-3 {
  background-color: #567E95;
  color: #ffffff;
}
.wrap .row .w-right aside#w-tags .w-tags a.tag-4,
.wrap .row .w-right #w-link .w-tags a.tag-4,
.wrap .row .w-right #w-cates .w-tags a.tag-4 {
  background-color: #B433FF;
  color: #ffffff;
}
.wrap .row .w-right aside#w-tags .w-tags a.tag-5,
.wrap .row .w-right #w-link .w-tags a.tag-5,
.wrap .row .w-right #w-cates .w-tags a.tag-5 {
  background-color: #00ABA9;
  color: #ffffff;
}
.wrap .row .w-right aside#w-tags .w-tags a.tag-6,
.wrap .row .w-right #w-link .w-tags a.tag-6,
.wrap .row .w-right #w-cates .w-tags a.tag-6 {
  background-color: #B37333;
  color: #ffffff;
}
.wrap .row .w-right aside#w-tags .w-tags a.tag-7,
.wrap .row .w-right #w-link .w-tags a.tag-7,
.wrap .row .w-right #w-cates .w-tags a.tag-7 {
  background-color: #FF6600;
  color: #ffffff;
}
.wrap .row .w-right aside#w-tags .w-tags a.tag-8,
.wrap .row .w-right #w-link .w-tags a.tag-8,
.wrap .row .w-right #w-cates .w-tags a.tag-8 {
  background-color: #4A4A4A;
  color: #ffffff;
}
.wrap .row .w-right aside#w-tags ul.w-links li,
.wrap .row .w-right #w-link ul.w-links li,
.wrap .row .w-right #w-cates ul.w-links li {
  display: block;
  padding: 6px 10px;
  float: left;
}
.wrap .row .w-right aside#w-tags ul.w-links li:hover,
.wrap .row .w-right #w-link ul.w-links li:hover,
.wrap .row .w-right #w-cates ul.w-links li:hover {
  background: #f5f5f5;
}
.wrap .row .w-right #w-talk,
.wrap .row .w-right #w-link {
  padding-bottom: 10px;
}
.wrap .row .w-right aside#w-see .w-see-body,
.wrap .row .w-right #w-click .w-see-body,
.wrap .row .w-right #w-tags .w-see-body,
.wrap .row .w-right #w-search .w-see-body,
.wrap .row .w-right .w-baidu-search .w-see-body,
.wrap .row .w-right #w-link .w-see-body,
.wrap .row .w-right #w-cates .w-see-body,
.wrap .row .w-right #w-talk .w-see-body {
  padding-left: 30px;
  padding-right: 30px;
}
.wrap .row .w-right aside#w-see .w-see-title,
.wrap .row .w-right #w-click .w-see-title,
.wrap .row .w-right #w-tags .w-see-title,
.wrap .row .w-right #w-search .w-see-title,
.wrap .row .w-right .w-baidu-search .w-see-title,
.wrap .row .w-right #w-link .w-see-title,
.wrap .row .w-right #w-cates .w-see-title,
.wrap .row .w-right #w-talk .w-see-title,
.wrap .row .w-right aside#w-see .w-click-title,
.wrap .row .w-right #w-click .w-click-title,
.wrap .row .w-right #w-tags .w-click-title,
.wrap .row .w-right #w-search .w-click-title,
.wrap .row .w-right .w-baidu-search .w-click-title,
.wrap .row .w-right #w-link .w-click-title,
.wrap .row .w-right #w-cates .w-click-title,
.wrap .row .w-right #w-talk .w-click-title {
  padding-left: 10px;
  padding-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
}
.wrap .row .w-right aside#w-see .w-see-hostlook,
.wrap .row .w-right #w-click .w-see-hostlook,
.wrap .row .w-right #w-tags .w-see-hostlook,
.wrap .row .w-right #w-search .w-see-hostlook,
.wrap .row .w-right .w-baidu-search .w-see-hostlook,
.wrap .row .w-right #w-link .w-see-hostlook,
.wrap .row .w-right #w-cates .w-see-hostlook,
.wrap .row .w-right #w-talk .w-see-hostlook,
.wrap .row .w-right aside#w-see .w-click-hostlook,
.wrap .row .w-right #w-click .w-click-hostlook,
.wrap .row .w-right #w-tags .w-click-hostlook,
.wrap .row .w-right #w-search .w-click-hostlook,
.wrap .row .w-right .w-baidu-search .w-click-hostlook,
.wrap .row .w-right #w-link .w-click-hostlook,
.wrap .row .w-right #w-cates .w-click-hostlook,
.wrap .row .w-right #w-talk .w-click-hostlook {
  background-color: transparent;
  border: 0;
  color: #333;
  display: block;
  font-size: 13px;
  font-weight: normal;
  height: auto;
  line-height: 1.4;
  margin: 0 auto;
  overflow: visible;
  padding: 0;
  position: relative;
  text-align: left;
  width: auto;
}
.wrap .row .w-right aside#w-see .w-see-hostlook ul,
.wrap .row .w-right #w-click .w-see-hostlook ul,
.wrap .row .w-right #w-tags .w-see-hostlook ul,
.wrap .row .w-right #w-search .w-see-hostlook ul,
.wrap .row .w-right .w-baidu-search .w-see-hostlook ul,
.wrap .row .w-right #w-link .w-see-hostlook ul,
.wrap .row .w-right #w-cates .w-see-hostlook ul,
.wrap .row .w-right #w-talk .w-see-hostlook ul,
.wrap .row .w-right aside#w-see .w-click-hostlook ul,
.wrap .row .w-right #w-click .w-click-hostlook ul,
.wrap .row .w-right #w-tags .w-click-hostlook ul,
.wrap .row .w-right #w-search .w-click-hostlook ul,
.wrap .row .w-right .w-baidu-search .w-click-hostlook ul,
.wrap .row .w-right #w-link .w-click-hostlook ul,
.wrap .row .w-right #w-cates .w-click-hostlook ul,
.wrap .row .w-right #w-talk .w-click-hostlook ul {
  margin-bottom: -1px;
}
.wrap .row .w-right aside#w-see .w-see-hostlook ul li.list-item,
.wrap .row .w-right #w-click .w-see-hostlook ul li.list-item,
.wrap .row .w-right #w-tags .w-see-hostlook ul li.list-item,
.wrap .row .w-right #w-search .w-see-hostlook ul li.list-item,
.wrap .row .w-right .w-baidu-search .w-see-hostlook ul li.list-item,
.wrap .row .w-right #w-link .w-see-hostlook ul li.list-item,
.wrap .row .w-right #w-cates .w-see-hostlook ul li.list-item,
.wrap .row .w-right #w-talk .w-see-hostlook ul li.list-item,
.wrap .row .w-right aside#w-see .w-click-hostlook ul li.list-item,
.wrap .row .w-right #w-click .w-click-hostlook ul li.list-item,
.wrap .row .w-right #w-tags .w-click-hostlook ul li.list-item,
.wrap .row .w-right #w-search .w-click-hostlook ul li.list-item,
.wrap .row .w-right .w-baidu-search .w-click-hostlook ul li.list-item,
.wrap .row .w-right #w-link .w-click-hostlook ul li.list-item,
.wrap .row .w-right #w-cates .w-click-hostlook ul li.list-item,
.wrap .row .w-right #w-talk .w-click-hostlook ul li.list-item {
  border-bottom: 1px dotted silver;
  margin: 6px 10px 0px 15px;
  padding-bottom: 6px;
  list-style: none;
}
.wrap .row .w-right aside#w-see .w-see-hostlook ul li.list-item a,
.wrap .row .w-right #w-click .w-see-hostlook ul li.list-item a,
.wrap .row .w-right #w-tags .w-see-hostlook ul li.list-item a,
.wrap .row .w-right #w-search .w-see-hostlook ul li.list-item a,
.wrap .row .w-right .w-baidu-search .w-see-hostlook ul li.list-item a,
.wrap .row .w-right #w-link .w-see-hostlook ul li.list-item a,
.wrap .row .w-right #w-cates .w-see-hostlook ul li.list-item a,
.wrap .row .w-right #w-talk .w-see-hostlook ul li.list-item a,
.wrap .row .w-right aside#w-see .w-click-hostlook ul li.list-item a,
.wrap .row .w-right #w-click .w-click-hostlook ul li.list-item a,
.wrap .row .w-right #w-tags .w-click-hostlook ul li.list-item a,
.wrap .row .w-right #w-search .w-click-hostlook ul li.list-item a,
.wrap .row .w-right .w-baidu-search .w-click-hostlook ul li.list-item a,
.wrap .row .w-right #w-link .w-click-hostlook ul li.list-item a,
.wrap .row .w-right #w-cates .w-click-hostlook ul li.list-item a,
.wrap .row .w-right #w-talk .w-click-hostlook ul li.list-item a {
  padding-left: 18px;
  position: relative;
}
.wrap .row .w-right aside#w-see .w-see-hostlook ul li.list-item a i,
.wrap .row .w-right #w-click .w-see-hostlook ul li.list-item a i,
.wrap .row .w-right #w-tags .w-see-hostlook ul li.list-item a i,
.wrap .row .w-right #w-search .w-see-hostlook ul li.list-item a i,
.wrap .row .w-right .w-baidu-search .w-see-hostlook ul li.list-item a i,
.wrap .row .w-right #w-link .w-see-hostlook ul li.list-item a i,
.wrap .row .w-right #w-cates .w-see-hostlook ul li.list-item a i,
.wrap .row .w-right #w-talk .w-see-hostlook ul li.list-item a i,
.wrap .row .w-right aside#w-see .w-click-hostlook ul li.list-item a i,
.wrap .row .w-right #w-click .w-click-hostlook ul li.list-item a i,
.wrap .row .w-right #w-tags .w-click-hostlook ul li.list-item a i,
.wrap .row .w-right #w-search .w-click-hostlook ul li.list-item a i,
.wrap .row .w-right .w-baidu-search .w-click-hostlook ul li.list-item a i,
.wrap .row .w-right #w-link .w-click-hostlook ul li.list-item a i,
.wrap .row .w-right #w-cates .w-click-hostlook ul li.list-item a i,
.wrap .row .w-right #w-talk .w-click-hostlook ul li.list-item a i {
  position: absolute;
  left: 0;
  top: 2px;
}
.wrap .row article {
  box-shadow: 0 1px 2px 0 #E2E2E2;
  margin-bottom: 15px;
  margin-left: -15px;
  margin-right: -15px;
  background: #fff;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}
.wrap .row article .w-date {
  padding-top: 10px;
  padding-bottom: 20px;
}
.wrap .row article .w-body {
  position: relative;
}
.wrap .row article .w-body .w-body-content {
  margin-right: -15px;
}
.wrap .row article .w-body .w-thumb {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
  padding: 3px;
  width: 100%;
  height: auto;
  border: 1px solid #ddd;
  overflow: hidden;
  border-radius: 4px;
}
.wrap .row article .w-body .w-thumb img {
  width: 100%;
  height: 100%;
}
.wrap .row article .w-body .w-read {
  position: absolute;
  right: 30px;
  bottom: -30px;
  color: #fff;
  z-index: 9;
}
.wrap .row article footer a {
  color: #959595;
}
.w-left article.w-content .w-content-title {
  margin-top: 50px;
  margin-bottom: 30px;
  font-size: 24px;
  text-align: center;
}
.w-left article.w-content .w-content-content {
  line-height: 30px;
  padding: 0 30px 10px;
}
.w-left article.w-content .w-content-date {
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px dotted #999;
  font-size: 14px;
}
.w-left article.w-content .w-content-tags {
  padding: 12px 30px;
  border-top: 1px dotted #999;
  font-size: 14px;
}
.w-left article.w-content .w-content-areward {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.w-page-list {
  text-align: center;
  overflow: hidden;
}
.w-page-list .pagination {
  margin-bottom: 0px;
}
.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 60px;
  right: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: #777 url(../images/cd-top-arrow.svg) no-repeat center 50%;
  opacity: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 50%;
}
.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 0.6;
}
.cd-top.cd-fade-out {
  opacity: .5;
}
.no-touch .cd-top:hover {
  background-color: #e86256;
  opacity: 1;
}
@media only screen and (min-width: 768px) {
  .cd-top {
    right: 20px;
    bottom: 20px;
  }
}
@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 60px;
    width: 60px;
    right: 30px;
    bottom: 30px;
  }
}
a:hover,
#w-see .w-see-hostlook .list-item a:hover {
  color: #337AFC;
}
h3 a,
#w-see .w-see-hostlook .list-item a {
  position: relative;
}
h3 a:after {
  content: "";
  width: 0;
  height: 2px;
  background: #337AFC;
  position: absolute;
  top: 93%;
  left: 50%;
  transition: all .8s;
}
#w-seesee .w-see-hostlook .list-item a:after {
  content: "";
  width: 0;
  height: 1px;
  background: #337AFC;
  position: absolute;
  top: 93%;
  left: 50%;
  transition: all .8s;
}
h3 a:hover:after,
#w-see .w-see-hostlook .list-item a:hover:after {
  left: 0%;
  width: 100%;
}
.loading {
  background: #FF6100;
  /*  设置进度条的颜色 */
  height: 3px;
  /*设置进度条的高度*/
  position: fixed;
  /*设定进度条跟随屏幕滚动*/
  top: 0;
  /*将进度条固定在页面顶部*/
  z-index: 99999 /*提高进度条的优先层级，避免被其他层遮挡*/;
}
.a-1 {
  background: red;
}
